In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import numpy 
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.decomposition import PCA 
from sklearn.preprocessing import LabelEncoder

In [3]:
logr = LinearRegression()

In [9]:
df=pd.read_csv('/kaggle/input/walmart-sales-forecast/features.csv') 
df.head(5)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [17]:
df.isnull().sum()

Store              0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
days               0
month              0
year               0
WeekOfYear         0
dtype: int64

In [22]:
df['Unemployment'].fillna((df['Unemployment']).mean(), inplace = True)
df['MarkDown1'].fillna((df['MarkDown1']).mean(), inplace = True)
df['MarkDown2'].fillna((df['MarkDown2']).mean(), inplace = True)
df['MarkDown3'].fillna((df['MarkDown3']).mean(), inplace = True)
df['MarkDown4'].fillna((df['MarkDown4']).mean(), inplace = True)
df['MarkDown5'].fillna((df['MarkDown5']).mean(), inplace = True)
df['CPI'].fillna((df['CPI']).mean(), inplace = True)

df.isnull().sum()

Store           0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday       0
days            0
month           0
year            0
WeekOfYear      0
dtype: int64

In [30]:
df.drop(['days','month','year'],axis=1)

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,WeekOfYear
0,1,42.31,2.572,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.096358,8.106000,0,5
1,1,38.51,2.548,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.242170,8.106000,1,6
2,1,39.93,2.514,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.289143,8.106000,0,7
3,1,46.63,2.561,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.319643,8.106000,0,8
4,1,46.50,2.625,7032.371786,3384.176594,1760.10018,3292.935886,4132.216422,211.350143,8.106000,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,76.05,3.639,4842.290000,975.030000,3.00000,2449.970000,3169.690000,172.460809,7.826821,0,26
8186,45,77.50,3.614,9090.480000,2268.580000,582.74000,5797.470000,1514.930000,172.460809,7.826821,0,27
8187,45,79.37,3.614,3789.940000,1827.310000,85.72000,744.840000,2150.360000,172.460809,7.826821,0,28
8188,45,82.84,3.737,2961.490000,1047.070000,204.19000,363.000000,1059.460000,172.460809,7.826821,0,29
8189,45,76.06,3.804,212.020000,851.730000,2.06000,10.880000,1864.570000,172.460809,7.826821,0,30

In [37]:
x=df.drop('CPI',axis=1) 
y=df['CPI']

In [38]:
#Feature Extraction 
pca = PCA(n_components=3) 
fit = pca.fit(x) 
  
X_Train, X_Test, Y_Train, Y_Test = train_test_split(x, y, test_size=0.3) 
  
logr.fit(X_Train, Y_Train) 
  
print(logr.score(X_Test,Y_Test))

0.21997414050690955